<%- include('partials/header') %>

<h1>Restaurantes Participantes</h1>

<a href="/admincrt" class="boton-agregar">➕ Añadir Restaurante</a>

<div class="restaurantes">
  <% restaurantes.forEach(restaurante => { %>
    <div class="restaurante">
        <img src="/images/<%= restaurante.logo %>" alt="<%= restaurante.nombre %>" />
        <h2><%= restaurante.nombre %></h2>
      <p>❤️ <%= restaurante.likes %> likes</p>

      <!-- Botones de administración -->
      <div class="botones-admin">
        <a href="/admin/editarrestaurante/<%= restaurante.id %>">
          <button>Editar Restaurante</button>
        </a>

        <a href="/admin/restauranteadd/<%= restaurante.id %>">
          <button>Editar Hamburguesas</button>
        </a>

        <form action="/admin/borrarrestaurante/<%= restaurante.id %>" method="POST" style="display: inline;">
          <button type="submit" class="boton-borrar">Borrar Restaurante</button>
        </form>
      </div>
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
